<section>
  <form class="search-form" >
    <input name="searchQuery" type="text" placeholder="Search Your Tech" [(ngModel)]="searchQuery">
    <button class="primary" type="button" (click)="search(
    )">Search</button>
  </form>
</section>



<section class="pagination">
  <button class="primary" (click)="changePage(0)">First</button>
  <button class="primary" (click)="changePage(page - 1)">Previous</button>
  <ng-container *ngFor="let pageNumber of pageNumbers">
    <button class="page-number" *ngIf="pageNumber !== '...'" [class.active]="pageNumber === page"
      (click)="changePage(pageNumber)">{{ pageNumber }}</button>
    <span *ngIf="pageNumber === '...'">...</span>
  </ng-container>
  <button class="primary" (click)="changePage(page + 1)">Next</button>
  <button class="primary" (click)="changePage(lastPage)">Last</button>
</section>
<section class="limit-section">
  <label for="limit">Change Limit:</label>
  <input type="number" id="limit" [(ngModel)]="limit" (change)="changeLimit()" />
</section>

<section class="results">
  <app-product-card  *ngFor="let productCard of productCardList" [productCard]="productCard" (click)="navigateToProductDetails(productCard.id)" >
     <!-- Assuming productCard has an 'id' property -->

  </app-product-card>
</section>
