.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

input[type="text"] {
  border: solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }
}




.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

/* Style for the buttons */
button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.active {
  background-color: #2980b9;
}

button:hover {
  background-color: #3cb0fd;
}


.limit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

input[type="number"] {
  padding: 6px 10px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.search-section input[type="text"] {
  padding: 10px;
  border: solid 1px var(--primary-color);
  border-radius: 8px;
  margin-right: 4px;
  display: inline-block;
  width: 30%;
}
