

.product-details h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 10px;
  line-height: 1.3
}



/* Spinner styles */
.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; /* Set the desired height */
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Updated styles to arrange image and details side by side */
.product-container {
  display: flex;
  margin: 30px;
}

.image-container {
  flex: 0 0 50%; /* Set the desired width for the image */
  margin-right: 10px; /* Add spacing between image and details */
}

.image-container img {
  max-width: 100%;
  height: 100%;
  border-radius: 6px; /* Match the container's border-radius */
  object-fit: cover

}

.details-container {
  flex: 1;
}

.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 30px;
  text-align: center;
  background-color: black;
}

.product-card {
  width: 50%;
  height: auto;
  max-width: 600px; /* Maximum width for larger screens */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Apply shadow effect */
  border: 1px solid #ccc;
  background-color: white;
  text-align: center;
}

.image-container {
  width: 40%; /* Adjust the image width */
  margin-right: 20px; /* Add spacing between image and details */
  border-radius: 6px; /* Round the image corners */
  overflow: hidden; /* Hide overflowing content */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px; /* Match the container's border-radius */
}

.details-container {
  width: 50%; /* Adjust the details width */
}

/* Other styles for content */
.product-card h2 {
  margin-top: 0;
  font-size: 24px;
}

.product-card p {
  margin-bottom: 10px;
  line-height: 1.6;
}
