/* product-detaills.component.css */

.product-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 70%; /* Adjust the width as needed */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.product-details h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-details p {
  margin-bottom: 10px;
}

.product-details img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
